@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 10%);
}

#chartsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px;
  width: 100%;
}

.chartContainer {
  padding: 20px;
  border: 1px solid hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 95%);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chartContainer header {
  margin-bottom: 20px;
}

.chartContainer h2 {
  font-size: 20px;
}

.chartContainer footer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.chartContainer ul {
  display: flex;
  list-style-type: none;
}

.chartContainer footer li:not(:first-child):before {
  content: "";
  border-right: 1px solid hsl(0, 0%, 80%);
  margin-inline: 10px;
}

.chartContainer footer a {
  color: inherit;
}

.chartContainer footer a:not(:hover) {
  text-decoration: none;
}
